.tech {
  padding-top: 90px;
  @include use-mobile() {
    padding-top: 60px;
  }

  &__header {
    font-size: 40px;
    color: $primary-color;
    padding-bottom: 80px;
    text-align: center;
    @include use-mobile() {
      padding-bottom: 50px;
      font-size: 28px;
    }
  }

  &__item {
    padding: 50px 60px 40px;
    background-color: $primary-color;
    border-radius: 1rem;
    color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid $primary-color;
    transition: all 0.5s;
    text-decoration: none;

    path {
      transition: all 0.5s;
    }

    &:hover {
      background-color: transparent;
      border-color: $secondary-color;
      color: $secondary-color;
      path {
        fill: $secondary-color;
      }
    }
  }

  &__label {
    font-family: $font-family;
    margin-top: 20px;
  }
}
