$black: #000000;
$white: #ffffff;
$mine-shaft: #232323;
$dodger-blue: #478AFF;

$font-size: 1rem;
$font-family: 'Poppins', sans-serif;
$header-font-family: 'Genesys', sans-serif;

$background-color: $white;
$font-color: $black;

$mid-transition: 0.3s all;
$breakpoint: 1025px;

$primary-color: $mine-shaft;
$secondary-color: $dodger-blue;
